CONFIG_M68KCLASSIC=y
# CONFIG_MMU is not set
CONFIG_MACKERELF=y
CONFIG_RAMBASE=0x0
CONFIG_RAMSIZE=0x800000
CONFIG_VECTORBASE=0x0
CONFIG_KERNELBASE=0x400
CONFIG_NOMMU_INITIAL_TRIM_EXCESS=1
CONFIG_DEFAULT_HOSTNAME="mackerel-f"
CONFIG_SYSVIPC=y
CONFIG_LOG_BUF_SHIFT=14
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_EXPERT=y
# CONFIG_VM_EVENT_COUNTERS is not set
# CONFIG_SLUB_DEBUG is not set
# CONFIG_BLK_DEV_BSG is not set
CONFIG_BINFMT_FLAT=y
# CONFIG_COREDUMP is not set
# CONFIG_NET is not set
# CONFIG_UEVENT_HELPER is not set
CONFIG_DEVTMPFS=y
# CONFIG_FW_LOADER is not set
# CONFIG_INPUT is not set
# CONFIG_SERIO is not set
# CONFIG_VT is not set
# CONFIG_UNIX98_PTYS is not set
# CONFIG_LEGACY_PTYS is not set
# CONFIG_HW_RANDOM is not set
CONFIG_PROC_FS=y
# CONFIG_PROC_SYSCTL is not set
CONFIG_BOOTPARAM=y
CONFIG_BOOTPARAM_STRING="console=mackconsole"
# CONFIG_SECTION_MISMATCH_WARN_ONLY is not set
CONFIG_PANIC_ON_OOPS=y
# CONFIG_SCHED_DEBUG is not set
# CONFIG_DEBUG_BUGVERBOSE is not set
